# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Vendor (dependencies) directory
/vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output binary directory
/bin/

# IDE
/.idea/

# Virtual machine
/.vagrant/

/config.json
/config.yml

