html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin: 40px 0 20px 0;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    color: #000;
    border-bottom: 1px solid #eee;
}

h3 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}