html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}

main {
    padding: 64px 0 40px 0;
}

main h2 {
    margin: 30px 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 28px;
    color: #000;
    border-bottom: 1px solid #eee;
}

main h3 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}

table.sms-table {
    width: 100%;
}
table.sms-table th, table.sms-table td {
    padding: 10px 0;
    text-align: left;
}
table.sms-table th {
    width: 20%;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}
table.sms-table td {
    padding: 10px;
}