{
  "extends": ["standard", "standard-jsx"],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": [2, "prefer-double"]
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "API_HOST": true
  }
}